* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Acrom';

  src: url('../fonts/Acrom.otf');
}

$AcromRegular: 'Acrom', Arial, sans-serif;
$YellowColor: #fff882;
$RedColor: #ff4f4f;
$GreenColor: #82ffc0;

html,
body {
  overflow: hidden;

  height: 100%;
}

body {
  font: 400 16px $AcromRegular;

  background: url('../img/bg.jpg') no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: darken(#eee, 15%);
}

.header {
  width: 100%;
  height: 95px;
  padding: 0 0 0 96px;

  background: #2a2a2a;
}

.first {
  // display: none;
}

.menu {
  display: none;

  max-width: 320px;

  text-align: center;
}

.menu-list {
  display: none;
  
  &__title,
  &__link {
    font-size: 25px;

    display: block;

    padding: 14px 0;

    transition: all .15s;
    text-decoration: none;

    color: #fff;
    background: rgba(75,75,75,.75);

    &:hover {
      color: $RedColor;
      border-left: 3px solid $RedColor;
    }

    &:first-child {
      padding: 32.5px 0;

      color: $YellowColor;
      background: #111;

      &:hover {
        border: 0;
      }
    }
  }
}

.second {
  position: absolute;
  top: 0;

  display: none;

  width: 100%;
  max-width: 480px;
  height: 95px;
  margin: 0 0 0 320px;

  text-align: center;

  &__title {
    font-size: 25px;

    display: block;

    padding: 32.5px 0;

    text-decoration: none;

    color: $GreenColor;
    background: #111;
  }
}

.previews {
  overflow-x: hidden;
  overflow-y: auto;

  max-width: 480px;
  height: 92vh;
}

.category-container {
  display: none;
}

.category-item {
  position: relative;

  height: 198px;

  transition: all .5s;

  border-bottom: 2px solid #2a2a2a;
  background: rgba(75,75,75,.75);

  &__link {
    font-size: 25px;

    position: relative;
    z-index: 10;
    top: -170px;

    width: 15px;
    // margin: -204px 0 0 430px;
    margin: 0 0 0 -42px;
    padding: 5px 14px;

    text-decoration: none;

    color: #fff;
    border-left: 2px solid #2a2a2a;
    background: #2a2a2a;

    &:hover {
      border-left: 2px solid $RedColor;
    }
  }

  &__blackoverlay {
    position: relative;
    z-index: 1;

    height: 198px;
    margin-top: -204px;

    transition: all .25s;

    background: rgba(0,0,0,.75);

    &:hover {
      background: transparent;
    }
  }
}

.third {
  position: absolute;
  top: 0;

  display: none;

  width: auto;
  height: 100%;
  margin-left: 800px;

  text-align: center;

  color: #fff;

  &__title {
    font-size: 25px;

    display: block;

    padding: 32.5px 0;

    text-decoration: none;

    color: $GreenColor;
    background: #111;
  }
}

.portfolio {
  min-height: 90.25%;

  background: rgba(75, 75, 75, .75);
}

.portfolio-item {
  display: none;
  overflow-y: auto;

  width: 946px;
  height: 90vh;

  &__image {
    max-width: 500px;
    margin: 20px 0;

    border-radius: 10px;
  }

  &__description {
    font-size: 20px;

    padding: 10px 30px;

    text-align: left;
  }
}

.sidebar {
  position: absolute;
  top: 0;

  width: 96px;

  background: #2a2a2a;
}

.icon {
  display: block;

  padding: 33px 30px;

  transition: all .7s;
}

.navbar {
  display: none;
}

.navbar-list {
  font-size: 25px;

  list-style-type: none;

  text-align: center;

  &__item {
    padding: 15px 0;

    & .link {
      transition: all .15s;
      text-decoration: none;

      color: #c5c5c5;

      &:hover {
        color: $YellowColor;
      }
    }

    &:last-child {
      .link {
        color: $RedColor;
      }
    }
  }
}
