* {
  margin: 0;
  padding: 0;
}

/*** fonts **********************/

@font-face {
  font-family: 'Acrom';
  src: url('../fonts/Acrom.otf');
}

/*******************************/

/*** vars **********************/

$AcromRegular: 'Acrom', Arial, sans-serif;
$YellowColor: #fff882;
$RedColor: #ff4f4f;
$GreenColor: #82ffc0;

/*******************************/

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('../img/bg.jpg') no-repeat;
  font: 400 16px $AcromRegular;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #eee;
}
           
::-webkit-scrollbar-thumb {
  background: darken(#eee, 15%);
}    

.header {
  width: 100%;
  height: 95px;
  background: #2a2a2a;

  & .header_menu {
    padding: 0 0 0 96px;

    & .first_part {

      & .menu_item {
        display: none;
        max-width: 320px;
        text-align: center;
        background: rgba(75,75,75,0.75);

        & a {
          display: block;
          text-decoration: none;
          color: #fff;
          font-size: 25px;
          padding: 14px 0;
          transition: all .15s;

          &:first-child {
            padding: 32.5px 0;
            color: $YellowColor;
            background: #111;

            &:hover {
              color: $YellowColor;
              padding: 32.5px 0;
              border: 0;
            }
          }

          &:hover {
            color: $RedColor;
            border-left: 3px solid $RedColor;
          }
        }
      }
    }

    & .second_part {      
      height: 95px;
      max-width: 480px;
      width: 100%;
      margin-left: 320px;
      top: 0;
      position: absolute;
      display: none;
      text-align: center;

      & a {
        display: block;
        padding: 32.5px 0;
        font-size: 25px;
        text-decoration: none;
        color: $GreenColor;
        background: #111;
      }

      & .portfolio_previews {
        display: none;
        // position: relative;

        & .container__portfolio__previews {
          height: 90vh;
          max-width: 480px;
          overflow-y: scroll;
          overflow-x: hidden;     

          &__logo__item {
            height: 198px;
            background: rgba(75,75,75,0.75);
            border-bottom: 2px solid #2a2a2a;
            transition: all .5s;

            & .more__info {
              position: relative;
              font-size: 25px;
              margin: -204px 0 0 430px;
              padding: 5px 14px;
              width: 15px;
              z-index: 20;
              color: #fff;
              background: #2a2a2a;
              border-left: 2px solid #2a2a2a;

              &:hover {
                border-left: 2px solid $RedColor;
              }
            }

            & .blackoverlay {
              height: 200px;
              margin-top: -40px;
              position: relative;
              background: rgba(0,0,0,0.75);
              transition: all .25s;

              &:hover {
                background: rgba(0,0,0,0);
              }
            }

            &:hover {
              // height: 196px;
              border-bottom: 2px solid $YellowColor;
            }

            &:hover:before {
              background: rgba(0,0,0,0);
            }

            & p {
              padding: 25px 0;
              color: #fff;
            }
          }
        }
      }
    }

    & .third_part {
      height: 100%;
      width: auto;
      top: 0;
      margin-left: 800px;
      position: absolute;
      display: none;
      text-align: center;
      color: #fff;

      & a {
        display: block;
        padding: 32.5px 0;
        font-size: 25px;
        text-decoration: none;
        color: $RedColor;
        background: #111;
      }

      & .container__portfolio {
        background: rgba(75, 75, 75, 0.75);
        min-height: 90.25%;

        &__item {
          display: none;
          height: 90vh;
          width: 946px;
          overflow-y: auto;

          & img {
            margin: 20px 0;
            border-radius: 10px;
          }

          & p {
            font-size: 20px;
            padding: 10px 30px;
            text-align: left;
          }
        }
      }
    }
  }

  & .logo_menu {
    position: absolute;
    top: 16px;
    right: 20px;

    & img {
      max-width: 90%;
    }
  }
}

.sidebar {
  width: 96px;
  /* height: 100%; */
  position: absolute;
  top: 0;
  background: #2a2a2a;

  & .button_menu {
    padding: 33px 30px;
    display: block;
    transition: all 0.7s;
  }

  & .menu_nav {
    display: none;

    & ul {
      list-style-type: none;
      font-size: 25px;
      text-align: center;

      & li {
        padding: 15px 0;

        & a {
          text-decoration: none;
          color: #c5c5c5;
          transition: all .15s;

          &:hover {
            color: $YellowColor;
          }
        }

        & .active {
          color: $YellowColor;
        }

        & .chat {
          color: $RedColor;

          &:hover {
            color: $RedColor;
          }
        }
      }
    }
  }
}

.promo {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #000;
}

.soundcloud__container {
  max-width: 1010px;
  height: 90vh;
  overflow-y: scroll;
  margin: 0 auto;
}

@media (min-width:1800px) {
  body {
    overflow-y: hidden;
  }

  .soundcloud__container,
  .container__portfolio__previews,
  .container__portfolio__item {
    height: 92vh!important;
  }
}

/*** animation **********************/

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .4s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

/*********************************/
